.post__content {
    flex: 1;
    margin-bottom: -5px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post__content img,
.post__content video {
    width: 100%;
    max-height: 100%;
    object-fit: cover;
}