.container {
    display: grid;
    grid-template-columns: auto 1fr;
}

.container>div {
    display: flex;
    align-items: center;
}

.container>div:first-child {
    min-width: fit-content;
}

.container>div:last-child {
    flex: 1;
    overflow-x: auto;
}

@media(min-width: 768px) {
    .comment::-webkit-scrollbar {
        display: none;
    }
}