.sender__container {
    margin: 8px 0px;
    display: flex;
    justify-content: flex-end;
}

.sender__container>div {
    position: relative;
    width: fit-content;
    max-width: 60%;
    background: #eee;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.receiver__container {
    margin: 8px 0px;
    display: flex;
}

.receiver__container>div {
    position: relative;
    width: fit-content;
    max-width: 60%;
    /* border: 1px solid #eee; */
    border-top-right-radius: 7px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    background-color: rgba(59, 160, 255, 0.3);
}

@media (max-width: 768px) {

    .sender__container>div,
    .receiver__container>div {
        max-width: 90%;
    }
}