.sender__container {
    margin: 8px 0px;
    display: flex;
    justify-content: flex-end;
}

.sender__container>div {
    width: fit-content;
    max-width: 60%;
    background: #eee;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.receiver__container {
    margin: 8px 0px;
    display: flex;
}

.receiver__container>div {
    width: fit-content;
    max-width: 60%;
    border: 1px solid #eee;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}